body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menuBar {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff; /* You can change the color as per your preference */
  overflow: hidden;
  padding: 10px;
}

.logo,
.leftMenu,
.rightMenu {
  margin: 0 10px; /* Adjust spacing as needed */
}

.barsMenu {
  display: none; /* Initially hide the menu button */
  margin: 0 10px;
}

.menuCon {
  display: flex;
  align-items: center;
  padding: 0 40px;
}

/* Style for the menu items inside the Drawer */
.drawer .leftMenu,
.drawer .rightMenu {
  display: flex;
  flex-direction: column; /* Make items stack vertically */
  align-items: start; /* Align items to the start */
}

/* Show the menu button on screens less than 600px */
@media (max-width: 900px) {
  .barsMenu {
    display: inline-block; /* Or block, depending on your layout needs */
  }

  .leftMenu,
  .rightMenu {
    display: none; /* Optional: Hide other menu items on small screens */
  }
}

.ant-input-prefix svg {
  margin-right: 10px; /* Adjust the value as per your requirement */
}


